body {
	margin: 0 auto;
	width: 90%;
}
header p {
	font-size: .9em;
	margin-top: .2em;
}
header h1 {
	margin-bottom: 0;
}
ol li {
	padding: .5em 0;
}
.link {
		text-decoration: underline;
	text-decoration-style: dashed;
}
ol a {
	text-decoration: none;
}